#chat-screen {
  background-color: #9fc7b5;
  height: 1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9fc7b5;
}
#chat-screen .alt-screen-header {
  top: 40px;
}

.main-chat {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}
.chat-row {
  display: flex;
  width: 100%;
  font-size: 14px;
  /* margin-bottom: 25px; */
}
.chat-row:last-child {
  margin-top: 25px;
}
.chat-row img {
  width: 44px;
  height: 44px;
  border-radius: 16px;
  margin-right: 15px;
}
.chat__username {
  display: block;
  margin-bottom: 8px;
}
.chat__content {
  display: flex;
  align-items: flex-end;
}
.chat__bubble {
  background-color: white;
  padding: 14px 12px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}
.chat__username,
.chat__time {
  opacity: 0.8;
}
.chat__time {
  font-size: 12px;
}

.chat-row--own {
  justify-content: flex-end;
}
.chat-row--own .chat__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.chat-row--own .chat__content {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
}
.reply__column {
  display: flex;
  align-items: center;
}
.reply__column:first-child {
  width: 10%;
}
.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 10px;
  width: 100%;
  border: var(--border);
  border-radius: 20px;
}
.reply__column > ion-icon {
  font-size: 24px;
  opacity: 0.5;
}
.reply__column:last-child > ion-icon,
.reply__column:last-child button {
  position: absolute;
  right: 4px;
}
.reply__column:last-child > ion-icon {
  right: 40px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button ion-icon {
  font-size: 20px;
}
