.settings__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}
.settings__setting ion-icon {
  margin-right: 20px;
  font-size: 20px;
  opacity: 0.8;
}
.settings__column:last-child {
  opacity: 0.5;
}
